.page-container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010409;
  color: #ffffff;
}

.page-container-register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/duck_background.png');
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  color: #ffffff;
}

.card {
  background: #0d1117;
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  border: 2px solid #3d444d;
  box-shadow: 0 10px 25px white;
}

.formTittle {
  color: white;
  display: flex;
  justify-content: end;
}

.formControl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.input-container {
  position: relative;
  margin: 40px auto;
  width: 90%;
}

.input-container input {
  font-size: 16px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input:focus ~ .label,
.input-container input:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input:focus ~ .underline,
.input-container input:valid ~ .underline {
  transform: scaleX(1);
}

.button {
  width: 100px;
  padding: 0;
  border: none;
  transform: rotate(5deg);
  transform-origin: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 3px;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #0d1117;
}

.button span {
  background: #0d1117;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #3d444d;
  color: white;
}

.button:hover {
  background-color: #3d444d;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(5px);
  padding-bottom: 0px;
  outline: 0;
}

.submitButton {
  width: 100px;
  padding: 0;
  border: none;
  transform: rotate(5deg);
  transform-origin: center;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 3px;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #238636;
}

.submitButton span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid #449854;
}

.submitButton:hover {
  background-color: #449854;
  transform: translateY(-2px);
}

.submitButton:active {
  transform: translateY(5px);
  padding-bottom: 0px;
  outline: 0;
}
